{% extends 'base.html.twig' %}

{% block title %}URL Importer{% endblock %}

{% block body %}
    <h1>URL Importer</h1>

    {% for flashMessage in app.flashes('success') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}

    <div class="mb-10">&nbsp;</div>

    {{ form_start(form, { 'attr': { 'class': 'container' } }) }}
    <div class="form-group">
        {{ form_label(form.file, 'Choose File:', { 'label_attr': { 'class': 'form-label' } }) }}
        {{ form_widget(form.file, { 'attr': { 'class': 'form-control-file' } }) }}
    </div>
    <button type="submit" class="btn btn-primary">Upload</button>
    {{ form_end(form) }}
{% endblock %}
